body {
  background: #eee;
  font-family: sans-serif;
}

body * {
  padding: 12px;
}

.card {
  width: 405px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 24px;
}

.content, .button-container {
  font-weight: 500;
}

.content {
  background: #e3f4ff;
  margin: 12px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 8px 24px;
}